*
    margin: 0
    padding: 0
.header
    width: 100%
    height: 70px
    display: flex
    justify-content: center
    align-items: center
    font-size: 30px
.cont   
    display: flex
    height: 
    background-color: #d8d0d0
    &__wrap
        margin-left: 10vh
    &__footer
        display: flex
        align-items: center
.name
    margin-top: 20px
#drag1
    display: none
    justify-content: center
    align-items: center
    border-radius: 0 0 0 10px
    position: absolute
    left: 88.5%
    cursor: pointer
    width: 25px
    height: 25px
    background-color: #0062b8
    img
        width: 20px
        height: 20px
#drag2
    display: none
    justify-content: center
    align-items: center
    border-radius: 0 0 0 10px
    position: absolute
    left: 88.5%
    cursor: pointer
    width: 25px
    height: 25px
    background-color: #0062b8
    img
        width: 20px
        height: 20px
input::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0
    padding-left: 10px
input::-webkit-inner-spin-button 
    -webkit-appearance: none
    margin: 0
    padding-left: 10px

.redac
    width: 100px !important
    height: 30px !important
    display: none !important

.popup
    box-shadow: 0 0 10px #9d9c9c
    border-radius: 10px
    display: none
    position: absolute
    top: 20%
    left: 40%
    width: 430px
    height: 300px
    background-color: #f5e9e9
    z-index: 20000
.black
    display: none
    top: 0
    background-color: rgba(0,0,0,.5)  
    z-index: 19999
    width: 100%
    height: 100%
    position: absolute 
.construct
    display: flex
    flex-wrap: wrap
    justify-content: center
    height: 592px
    width: 300px
    background-color: #e6dcdc
    &__bg
        h2
            font-size: 20px
        img
            width: 100px
            height: 100px
            cursor: pointer
    &__text 
        width: 90%
        margin: 0 auto
    &__footer
        margin-top: 10px
        width: 100%
        display: flex
        justify-content: space-between
    &__texts
        margin-top: 10px
        span 
            color: #bdbbbb
            font-size: 12px
    
.button
    display: flex
    cursor: pointer
    margin-top: 10px
    border-radius: 10px
    justify-content: center
    align-items: center
    background-color: #5f1eeb
    color: #fff
    width: 180px
    height: 40px
    transition: 1s
    &:hover
        width: 200px
        height: 50px
    &__text
        margin-top: 10px
        margin-left: 30px
        font-size: 12px
        width: 200px
    
.footer 
    width: 100%
    height: 60px
    background-color: #000
    &__name
        margin-left: 30px
        padding-top: 20px
        border-bottom: 2px solid #ffffff
        width: 300px
        h2
            text-transform: uppercase
            color: #fff
.content
    margin-top: 5vh
    width: 900px
    margin-left: 0vh
    height: 450px
    background-color: #bfbaba
    background-size: cover
    background-repeat: no-repeat
    border-radius: 5px
    &__text
        width: 100%
        min-height: 100%
    &__name
        display: none
        position: absolute
        text-align: center
        background-color: rgba(0,0,0, 0)
        min-height: 50px
        width: 200px 
        cursor: pointer
        top: 10px
        left: 10px
        &:hover
            border: 1px solid #0062b8
#editing-name
    display: none
    justify-content: center
    align-items: center
    position: absolute
    cursor: pointer
    left: 100%
    top: 30%
    width: 30px
    height: 30px
    background-color: #0062b8
    border-radius: 50% 

#text
    display: none
    width: 200px
    resize: none
    text-align: center
    position: absolute
    top: 10px
    left: 10px
    cursor: pointer
    min-height: 50px
    background-color: rgba(0,0,0, 0)
    &:hover
        border: 1px solid #0062b8
#editing-text
    display: none
    justify-content: center
    align-items: center
    position: absolute
    cursor: pointer
    left: 100%
    top: 40%
    width: 30px
    height: 30px
    background-color: #0062b8
    border-radius: 50%

#sp1
    margin-left: 4px
    width: 30px
    height: 5px
    background-color: #5f1eeb
#sp2
    margin-left: 4px
    margin-top: 5px
    width: 25px
    height: 5px
    background-color: #5f1eeb
#sp3
    margin-left: 4px
    margin-top: 5px
    width: 20px
    height: 5px
    background-color: #5f1eeb

.left
    width: 40px
    height: 40px
    transition: 1s
    &:hover
        background-color: #5f1eeb
        #sp1
            transition: 1s
            background-color: #fff
        #sp2
            transition: 1s
            background-color: #fff
        #sp3
            transition: 1s
            background-color: #fff
.center
    align-items: center
    width: 40px
    height: 40px
    transition: 1s
    #sp1
        margin-left: 0
    #sp2
        margin-left: 0
    #sp3
        margin-left: 0
    &:hover
        background-color: #5f1eeb
        #sp1
            transition: 1s
            background-color: #fff
        #sp2
            transition: 1s
            background-color: #fff
        #sp3
            transition: 1s
            background-color: #fff
.right
    width: 40px
    height: 40px
    align-items: flex-end
    transition: 1s
    #sp1
        margin-right: 3px
    #sp2
        margin-right: 3px
    #sp3
        margin-right: 3px
    &:hover
        background-color: #5f1eeb
        #sp1
            transition: 1s
            background-color: #fff
        #sp2
            transition: 1s
            background-color: #fff
        #sp3
            transition: 1s
            background-color: #fff
.pos
    width: 150px
    display: flex
    flex-direction: column
    &_content
        width: 123px
        display: flex
        margin-top: 10px
        justify-content: space-between
.posBtn-name
    box-shadow: 0 0 10px #9d9c9c
    display: flex
    flex-direction: column
    justify-content: center
    background-color: #fff
    border-radius: 5px
    border: none
    cursor: pointer
.posBtn-text
    box-shadow: 0 0 10px #9d9c9c
    display: none
    flex-direction: column
    justify-content: center
    background-color: #fff
    border-radius: 5px
    border: none
    cursor: pointer
.fonts
    display: flex
    flex-direction: column
    &_content
        margin-top: 10px
        display: flex
        justify-content: space-between
        width: 130px
        input
            width: 40px
            border: none
            height: 40px
            background-color: #fff
            margin-top: 0
            border-radius: 5px
            box-shadow: 0 0 10px #9d9c9c
.plus 
    position: relative
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    border-radius: 5px
    width: 40px
    height: 40px
    cursor: pointer
    margin-top: 0
    background-color: #fff
    box-shadow: 0 0 10px #9d9c9c
.minus 
    cursor: pointer
    display: flex
    border-radius: 5px
    justify-content: center
    align-items: center
    flex-direction: column
    width: 40px
    height: 40px
    margin-top: 0
    background-color: #fff
    box-shadow: 0 0 10px #9d9c9c
#pl1
    position: absolute
    width: 30px
    height: 5px
    transform: rotate(90deg)
    background-color: #5f1eeb
#pl2
    width: 30px
    height: 5px
    background-color: #5f1eeb
#textName
    margin-top: 10px
    width: 100%
    height: 100px
    resize: none
    box-shadow: 0 0 10px #9d9c9c
    border-radius: 10px
    border: 1px solid #bbbaba
.text
    display: none
.hovered
    background-color: #ffbfbfdd