*
    margin: 0
    padding: 0
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

.karta
    margin: 0 auto
    background: url(../img/Карта1.png)
    height: 500px
    position: relative
    max-width: 800px
    background-repeat: no-repeat
    background-position: center
    background-size: 100%
    &__active
        width: 8px
        position: absolute
        height: 8px
        border-radius: 50%
        border: 1px solid #DABD6D
        box-shadow: 0 0 2px 2px #dabd6d
        cursor: pointer
        background-color: #00007A
    &__not-active
        width: 8px
        position: absolute
        height: 8px
        border-radius: 50%
        border: 1px solid #393177
        box-shadow: 0 0 2px 2px #7066b8
        background-color: #00007A
        cursor: pointer


#tolyati
    top: 310px
    left: 21%
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            width: 200px
            position: absolute
            top: -100px
            left: 10px
            background-image: url(../img/Всплывашка_7.png)
            background-size: cover
            height: 100px
            z-index: 1
#samara
    top: 332px
    left: 173px
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            width: 200px
            position: absolute
            top: -100px
            left: 10px
            z-index: 1
            background-image: url(../img/Всплывашка_1.png)
            background-size: cover
            height: 100px
#chelyabinsk
    top: 359px
    left: 235px
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            width: 200px
            position: absolute
            top: -100px
            z-index: 1
            left: 10px
            background-image: url(../img/Всплывашка_2.png)
            background-size: cover
            height: 100px
    &:focus
        &::before
            animation: pulse 1s
            content: ""
            width: 200px
            z-index: 1
            position: absolute
            top: -100px
            left: 10px
            background-image: url(../img/Всплывашка_2.png)
            background-size: cover
            height: 100px
            
#newKub
    top: 347px
    left: 160px
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            width: 200px
            position: absolute
            z-index: 1
            top: -100px
            left: 10px
            background-image: url(../img/Всплывашка_3.png)
            background-size: cover
            height: 100px
    &:focus
        &::before
            animation: pulse 1s
            content: ""
            width: 200px
            z-index: 1
            position: absolute
            top: -100px
            left: 10px
            background-image: url(../img/Всплывашка_3.png)
            background-size: cover
            height: 100px           

#newRos
    top: 362px
    box-shadow: 0 0 1px 2px #ffdb77
    left: 53px
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            width: 200px
            z-index: 1
            position: absolute
            top: -100px
            left: 10px
            background-image: url(../img/Всплывашка_5.png)
            background-size: cover
            height: 100px
    &:focus
        &::before
            animation: pulse 1s
            content: ""
            width: 200px
            position: absolute
            top: -100px
            z-index: 1
            left: 10px
            background-image: url(../img/Всплывашка_5.png)
            background-size: cover
            height: 100px   
#gelendgik
    top: 377px
    box-shadow: 0 0 1px 2px #ffdb77
    left: 53px
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            width: 200px
            z-index: 1
            position: absolute
            top: -100px
            left: 10px
            background-image: url(../img/ВсплывашкаГеленджик.png)
            background-size: cover
            height: 100px
    &:focus
        &::before
            animation: pulse 1s
            content: ""
            width: 200px
            position: absolute
            top: -100px
            z-index: 1
            left: 10px
            background-image: url(../img/ВсплывашкаГеленджик.png)
            background-size: cover
            height: 100px   
#krasnodar
    top: 376px
    box-shadow: 0 0 1px 2px #ffdb77
    left: 72px
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            width: 200px
            position: absolute
            z-index: 1
            top: -100px
            left: 10px
            background-image: url(../img/ВсплывашкаКраснодар.png)
            background-size: cover
            height: 100px
    &:focus
        &::before
            animation: pulse 1s
            content: ""
            width: 200px
            position: absolute
            top: -100px
            z-index: 1
            left: 10px
            background-image: url(../img/ВсплывашкаКраснодар.png)
            background-size: cover
            height: 100px  
#tumen
    top: 336px
    left: 293px
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            width: 200px
            position: absolute
            z-index: 1
            top: -100px
            left: 10px
            background-image: url(../img/ВсплывашкаТюмень.png)
            background-size: cover
            height: 100px
#ulan
    top: 405px
    left: 490px
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            width: 200px
            z-index: 1
            position: absolute
            top: -100px
            left: 10px
            background-image: url(../img/ВсплывашкаУлан-Удэ.png)
            background-size: cover
            height: 100px
#moscow
    top: 290px
    left: 125px
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            z-index: 1
            width: 200px
            position: absolute
            top: -100px
            left: 10px
            background-image: url(../img/Всплывашка_6.png)
            background-size: cover
            height: 100px
#ekaterenburg
    top: 328px
    left: 248px
    &:hover
        &::before
            animation: pulse 1s
            z-index: 1
            content: ""
            width: 200px
            position: absolute
            top: -100px
            left: 10px
            background-image: url(../img/Всплывашка_7.png)
            background-size: cover
            height: 100px
#sevastopol
    top: 334px
    left: 30px
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            width: 200px
            position: absolute
            top: -100px
            left: 10px
            background-image: url(../img/Всплывашка_7.png)
            background-size: cover
            height: 100px
#yaroslavl
    top: 262px
    left: 129px
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            z-index: 1
            width: 200px
            position: absolute
            top: -100px
            left: 10px
            background-image: url(../img/Всплывашка_7.png)
            background-size: cover
            height: 100px
#kazan
    top: 285px
    left: 153px
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            z-index: 1
            width: 200px
            position: absolute
            top: -100px
            left: 10px
            background-image: url(../img/Всплывашка_7.png)
            background-size: cover
            height: 100px
#ufa
    top: 285px
    left: 198px
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            z-index: 1
            width: 200px
            position: absolute
            top: -100px
            left: 10px
            background-image: url(../img/Всплывашка_7.png)
            background-size: cover
            height: 100px
#krasnoyarsk
    top: 339px
    left: 450px
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            z-index: 1
            width: 200px
            position: absolute
            top: -100px
            left: 10px
            background-image: url(../img/Всплывашка_7.png)
            background-size: cover
            height: 100px
#irkutsk
    top: 385px
    left: 482px
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            z-index: 1
            width: 200px
            position: absolute
            top: -100px
            left: 10px
            background-image: url(../img/Всплывашка_7.png)
            background-size: cover
            height: 100px
#grosniy
    top: 385px
    left: 210px
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            z-index: 1
            width: 200px
            position: absolute
            top: -100px
            left: 10px
            background-image: url(../img/Всплывашка_7.png)
            background-size: cover
            height: 100px
#peterburg
    top: 214px
    left: 152px
    &:hover
        &::before
            animation: pulse 1s
            content: ""
            z-index: 1
            width: 200px
            position: absolute
            top: -100px
            left: 10px
            background-image: url(../img/Всплывашка_7.png)
            background-size: cover
            height: 100px
@keyframes pulse 
    0%
        width: 0
    100%
        width: 200px

@media (max-width: 546px)
    .karta
        &__active
            width: 5px
            height: 5px
            border-radius: 50%
            cursor: pointer
        &__not-active
            width: 5px
            height: 5px
            border-radius: 50%
            cursor: pointer